.navbar{
    margin:0;
    padding:0;
    border:0;
}

.container-fluid{
   color: black;
 
   background-image: linear-gradient( to right, #A61B8E,  #D62D68, #FE8057, #F7564E );

  
}
.navbar-brand{
   font-size: 40px;
   font-weight: bold;
}

.card-group{
   padding-left: 7px;
   padding-right: 7px;
}
.card-text{
   font-size: 120%;
}
.card-title{
   font-size:25px;
   font-weight: bold;
   font-style: oblique;
   font-style: unset;
}
.row{
   margin-left: 5px;
   margin-right: 5px;
   margin-bottom: 10px;
}

.btn{
 color: white;
 font-weight: 800;
 background-color: black;
 border-color: black;

   
}